
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
app-todo{
  display:flex;
  width: 35vw;
  line-height:145%;
  border: 1px solid;
  margin-right: 46px;
  justify-content: flex-start;
  align-items: center;
  padding:15px 10px;
  background-color: #fff;
  border-color: #cccccc;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: Helvetica;
  font-size: 18px;
  }

app-todo .btn-e-d{
  flex: 1 1 auto;
} 
