<input class="check" type="checkbox" [checked]="todo.checked" (click)="onTodochecked(todo, i)" />
<div *ngIf="todo.editMode; then isEdit; else notEdit"></div>
<ng-template #isEdit>
    <input class="inputedit" type="text" [(ngModel)]="todo.description" (keydown.enter)="onUpdateTodoEnter(i, todo)" />
</ng-template>
<ng-template #notEdit>
    <label>{{todo.description}}</label>
</ng-template>
<div class="btn-edit-delete">
    <div *ngIf="todo.checked; then isdisable else notdisabled"></div>
    <ng-template #isdisable>
        <button class="actionBtn" disabled>
            <fa-icon [icon]="faPen"></fa-icon>
        </button>
    </ng-template>
    <ng-template #notdisabled>
        <button class="actionBtn" (click)="onEditTodoClick(todo)">
            <fa-icon class="fapen" [icon]="faPen"></fa-icon>
        </button>
    </ng-template>
    <button class="actionBtn" (click)="onDeleteTodoClick(i)">
        <fa-icon class="faTrash" [icon]="faTrash"></fa-icon>
    </button>
</div>