.check{
  margin:5px;
  }
.inputedit{
  height: 25px;
  width:30vw;
  }
  
.inputedit:focus {
  outline: none !important;
  border:1px solid rgb(73, 196, 226);
  }

.actionBtn{
  display:  flex;
  border: none;
  outline: none;
  padding: auto;
  margin: 5px;
  justify-content: flex-end;
  }
  
.btn-edit-delete{
  display:  flex;
  flex: 4;
  justify-content: flex-end;
  }

input[type=checkbox]:checked + label{
  text-decoration: line-through;
  color: rgb(187, 185, 185);
}

.fapen{
  color: #3498db;
  background: white;
  border:none;
}

.fapen:hover{
 color: #7cb9e2;
 cursor: pointer;
}

.faTrash{
 color: #D10000;
 background: white;
}

.faTrash:hover{
  color: #c97272;
  cursor: pointer;
}

