 .container{
  margin-top: 80px; 
} 

.inputHeight{
  width: 35vw;
  height: 20px;
  padding:14px 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btnInputadd{
  height: 49px;
  width: 45px;
  background-color: #99bedf;
  border: none;
}

fa-icon{
  color: white;
} 

.btnInputadd:hover{
  background-color: #b2d0eb;
  cursor: pointer;
} 

fa-icon:hover{
  background-color: #b2d0eb;
  cursor: pointer;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 12em;   
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  font-family: sans-serif;
}