.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 100px;
}

.filterbtn{
    display:flex;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid whitesmoke;
    justify-content: center;
    align-items: center;
    font-size: 2.15em ;
    margin-left: 25px;
}

span{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span:hover{
    color: gray;
    cursor: pointer;
}

.faCheckCircle{
    color: green; 
    background: white;
}

.faCheckCircle:hover{
    color: rgb(116, 156, 116); 
    cursor: pointer;
}

.faTimesCircle{
    color: red; 
    background: white;
}

.faTimesCircle:hover{
    color: rgb(170, 101, 101); 
    cursor: pointer;
}
